body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.avatar {
    width: 150px;
    border: 5px solid #3D405B;
    border-radius: 100px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: left;
    background: #3D405B;
    color: #F4F1DE;
    border: 6px solid #343645;
    border-radius: 20px
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.border-blue {
    border: 1px dotted blue;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

.avatar:hover {
    border: 5px solid #F4F1DE;
}

.hover-orange:hover {
    color: #E07A5F;
}

/*
Final challenge:
Download the code to your local computer and place it
in a folder called "business-card"
*/
